<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Mapa Taxis</title>
	<link rel="stylesheet" href="css/styleMap.css">
	<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
	<script src="js/socket.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
 	<div id="mapDir" class="googleMap" data-tap-disabled="true"></div> 
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZqzA9D5OdYVvmZ51pdexYhClMDCyiW5c&libraries=geometry,places"></script>
</html>
